.App {
  /* font-family: Helvetica, Arial, sans-serif; */
  background-color: #fbfbfb;
  text-align: center;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  background: #fbfbfb;
}

.card-header {
  background: lightgray;
}

.card {
  background: white;
  box-shadow: 0 0 3px grey;
  list-style-type: none;
}

address {
  font-style: normal;
}

figure > img, figure > img.image {
  height: 100% !important;
}
